.root {
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  align-items: center;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: white;
  width: 100vw;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #292929;
}

.page-content {
  width: 100%;
  padding-bottom: 48px;

  /* to account navbar height */
  padding-top: 85px;
}

@media screen and (min-width: 768px) {
  .page-content {
    padding-top: 62px;
  }
}
